# build & caches
__pycache__/
.venv/
.mypy_cache/
.pytest_cache/
build/
dist/
.DS_Store
*.egg-info/

# setuptools metadata
src/spectrumpy_flight.egg-info/

# data & outputs
HDF5/
images/*.png
images/*.pdf
*.h5
*.hdf5
*.ipynb_checkpoints/

# test artifacts
reports/*
!reports/.gitkeep

# node / misc
node_modules/

