graft src/spectrumpy_flight/HDF5
graft src/spectrumpy_flight/Images
graft src/spectrumpy_flight/docs
graft src/spectrumpy_flight/acc_metadata

include src/spectrumpy_flight/IDEX-Quicklook.spec
include src/spectrumpy_flight/IDEX-quicklook.py
include src/spectrumpy_flight/Scope-IDEX-quicklook.py
include src/spectrumpy_flight/IDEX\ CDF\ Variable\ Definitions.xlsx
include src/spectrumpy_flight/idex_combined_science_definition.xml
include src/spectrumpy_flight/mass_comb.csv

recursive-include src/spectrumpy_flight *.py *.csv *.xml *.md *.svg *.png *.ico *.ui *.json *.txt

prune **/__pycache__
prune **/.pytest_cache
prune src/spectrumpy_flight/CDF
prune src/spectrumpy_flight/Data
prune src/spectrumpy_flight/Plots
prune src/spectrumpy_flight/tests
global-exclude *.py[cod]
